.app {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  position: relative;
}

.range__pages {
  width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

  .img1 {
    background: url(./img/img1.jpg) center/cover;
    width: 100%;
    height: 100vh;
  }
  .img2 {
    background: url(./img/img2.jpg) center/cover;
    width: 100%;
    height: 100vh;
  }
  .img3 {
    background: url(./img/img3.jpg) center/cover;
    width: 100%;
    height: 100vh;
  }
  .img4 {
    background: url(./img/img4.jpg) center/cover;
    width: 100%;
    height: 100vh;
  }
}

// +++
.app__navigation {
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 1rem;
  bottom: calc(50% - 175px);
  z-index: 1;
}

.nav__items {
  display: grid;
  justify-self: center;
  align-content: space-between;
  height: 350px;
  width: 150px;
  background: radial-gradient(circle, rgba(163,48,98,1) 0%, rgba(77,18,195,1) 100%);
  border-radius: 0.5rem;
  border: 2px solid white;
  padding: 1rem;

  li {
    display: grid;
  }

  @media (max-width: 390px) {
    width: 50px;
    padding: 1rem 0;
  }
}

.nav__btn {
  display: flex;
  width: fit-content;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
  border-radius: 0.5rem 0 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.5rem;
  transition: 0.3s;
  position: relative;
  z-index: 3;

  &:focus,
  &.active {
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.37) 0%, rgba(255, 255, 255, 0) 105.47%);
  }

  @media (max-width: 390px) {
    font-size: 0px;
    //background: #fff;
    padding: 0rem;
    // height: 1px;
    // width: 100%;

    &:focus,
    &.active {
        background: none;
    }
  }
}

// == ----------------
.nav__range {
  // display: flex;
  // align-items: flex-start;
  width: 350px;
  transform: rotate(90deg);
  padding: 0 1rem;
  position: absolute;
  left: -3rem;
  bottom: 47%;

  @media (max-width: 390px) {
    left: -9rem;
  }
}

.input__range[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  cursor: pointer;
  position: relative;
}

.input__range[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.input__range[type='range']::-moz-range-thumb {
  -webkit-appearance: none;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}